@import url("https://fonts.googleapis.com/css2?family=Agu+Display&family=Special+Elite&family=Vollkorn:ital,wght@0,400..900;1,400..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: "Vollkorn", serif;
  /* font-family: "Playfair Display", serif; */
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
